.section {
  @apply w-full surface-elevated border-t;
}
.section-heading {
  @apply surface-neutral border-b font-bold;
}
.section-heading-inner {
  @apply w-full max-w-none px-8 py-4;
}
.section-heading-inner-sm {
  @apply w-full max-w-none px-8 pt-2 pb-3;
}
.section-content {
  @apply w-full max-w-none px-8 pt-6;
}

.section-wide .section-heading-inner,
.section-wide .section-content {
  @apply max-w-none;
}
