name: Docker

on:
  workflow_dispatch:
  push:
    paths:
      - '.devcontainer/Dockerfile.build'
      - '.github/workflows/docker.yml'

permissions:
  contents: read
  packages: write

env:
  IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/midisaxo-build

jobs:
  x86-64:
    name: Build Docker Container / x86-64
    runs-on: ubuntu-latest
    steps:
      - name: Pull the repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push to registry
        uses: docker/build-push-action@v5
        with:
          push: true
          context: .
          platforms: linux/amd64
          file: .devcontainer/Dockerfile.build
          tags: |
            ${{ env.IMAGE_NAME }}:${{ github.sha }}-x86-64
  arm64:
    name: Build Docker Container / arm64
    runs-on: ubuntu-latest
    steps:
      - name: Pull the repository
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push to registry
        uses: docker/build-push-action@v5
        with:
          push: true
          context: .
          platforms: linux/arm64
          file: .devcontainer/Dockerfile.build
          tags: |
            ${{ env.IMAGE_NAME }}:${{ github.sha }}-arm64
  create-manifests:
    name: Create Docker manifests
    runs-on: ubuntu-latest
    needs: [x86-64, arm64]
    steps:
      - name: Pull the repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: SHA manifest
        run: |
          docker buildx imagetools create -t ${{ env.IMAGE_NAME }}:${{ github.sha }} \
          ${{ env.IMAGE_NAME }}:${{ github.sha }}-x86-64 \
          ${{ env.IMAGE_NAME }}:${{ github.sha }}-arm64
      - name: latest manifest
        run: |
          docker buildx imagetools create -t ${{ env.IMAGE_NAME }}:latest \
          ${{ env.IMAGE_NAME }}:${{ github.sha }}-x86-64 \
          ${{ env.IMAGE_NAME }}:${{ github.sha }}-arm64
